<style>
    blockquote {
        background: #f4f4f4;
        border: 1px solid #ddd;
        border-left: 3px solid #f36d33;
        color: #666;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }
    h3 {
        font-family: monospace;
        font-size: 15px;
        padding: 1em 1.5em;
        line-height: 1.6;
        display: block;

    }
</style>

<body>
    <h3>Documentation:</h3>
    <blockquote>
        POST https://foodblocker.melro5e.com/ <br>
        -H "Content-Type: application/json"<br>
        -d {"urls": ["", "", ""],"forbidden": ["", ""]}
    </blockquote>
    <h3>Example output: {"0":[],"1":["juust"],"2":[]}</h3>

</body>